

.categories-container
{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.category-card
{
    width: 200px;
}

.category-card a
{
    display: inline-block;
    text-decoration: none;
}

.category-card .card-footer
{
    display: flex;
    justify-content: end;
}
